html {
	scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

body:has(.with-progress) #progress {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background: theme("colors.orange.500");
	transform-origin: 0 50%;
	animation: grow-progress auto linear;
	animation-timeline: --page-scroll;
}

.prose > aside {
	border-left: theme("spacing.1") solid theme("colors.forest.600");
	padding-left: theme("spacing.4");
	color: theme("colors.forest.400");
}

.prose > aside a,
.prose > aside code,
.prose > aside strong {
	color: theme("colors.forest.300");
}

.header-anchor {
	position: relative;
	scroll-margin-top: 1.8rem;
}

.header-anchor::before {
	position: absolute;
	left: -1em;
	color: theme("colors.forest.800");
}

.header-anchor:hover::before {
	color: theme("colors.forest.600");
	transition: color 0.1s ease;
}

@media screen(md) {
	.header-anchor::before {
		content: "#";
	}
}

.shiki {
	padding: theme("spacing.3") theme("spacing.4");
}

.shiki > code {
	width: 100%;
	display: block;
	position: relative;
}

.shiki .highlighted,
.shiki .remove,
.shiki .add {
	margin: 0 calc(-1 * theme("spacing.4"));
	padding: 0 theme("spacing.4");
	border-radius: theme("borderRadius.lg");
	display: inline-block;
	border-radius: unset;
	width: calc(100% + theme("spacing.8"));
}

.shiki .highlighted {
	background: theme("colors.forest.800");
}

.shiki .diff::before {
	position: absolute;
	left: -1.2ex;
}

.shiki .add {
	background: rgba(16, 185, 129, 0.16);
	color: #3dd68c;
}

.shiki .add::before {
	content: "+";
}

.shiki .remove {
	opacity: 0.7;
	background: rgba(244, 63, 94, 0.16);
	color: #cb7676;
}

.shiki .remove::before {
	content: "-";
}

.shiki .highlighted-word {
	background: theme("colors.forest.800");
	padding: theme("spacing[0.5]");
	margin: calc(-1 * theme("spacing[0.5]"));
	border-radius: theme("borderRadius.lg");
}

.shiki.has-focused .line:not(.focused) {
	transition:
		filter 0.35s,
		opacity 0.35s;
}

.shiki.has-focused:not(:hover) .line:not(.focused) {
	filter: blur(0.095rem);
	opacity: 0.7;
}
